.e-Commerce-principal {
  color: #d5c3c3;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.lista-e-Commerce {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin: 17px;
}

.lista-carrito {
  background: rgb(204, 238, 12);
  border-radius: 10px;
  display: grid;
  justify-content: center;
  text-align: center;
  margin: 15px;
}

.contador-carrito {
  font-size: 19px;
  background-color: rgb(255, 255, 255);
  border-radius: 22px;
  padding: 9px;
  border: 2px solid rgb(27, 2, 64);
}

@media screen and (max-width: 650px) {
}
